# dependencies
node_modules
client/node_modules
server/node_modules

# production builds
client/build
dist

# env files
.env
.env.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db
